#widget {
    text-align: center;
}
#filterDiv {
    padding: 20px;
}
.label {
    font-size: 20px;
    margin-top: 10px;
    color: rgba(69, 69, 69, 0.61);
}
.value {
    font-size: 35px;
    font-weight: 300;
}
.desc {
    padding: 20px;
    font-size: 20px;
    text-decoration: underline;
    padding-bottom: 10px;
}
#average_net_revenue_data {
    display: flex;
    align-items: center;
    justify-content: center;
}
#avg {
    margin-right: 100px;
}
#loader {
    position: absolute;
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 30px;
}